@font-face{
    font-family: 'Starjedi';
    src: url(/fuente/starjedi/Starjedi.ttf);
    font-weight: lighter;
}

@font-face{
    font-family: 'Star';
    src: url(/fuente/starjedi/Starjhol.ttf);
}

@font-face{
    font-family: 'Blanki';
    src: url(/fuente/Blank\ Place.otf);
}



body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgba(30, 35, 38, .5),rgba(30, 35, 38, .5)),url(https://i.pinimg.com/564x/66/66/0c/66660c0c81a94c5183ae89cd50d01c8f.jpg);
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background: linear-gradient(to top, rgba(30, 35, 38, .5),rgba(30, 35, 38, .5)),url(https://i.pinimg.com/564x/42/1f/fa/421ffa80cea96294bfa6ee7615d46cd6.jpg);
    background-size: cover;
    padding: 10px 0;
    text-align: center;
    font-family: Starjedi;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f1c40f;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff;
    box-shadow: 0 15px 20px rgba(255, 255, 255, 0.4);
}

.hero {
    color: #f1c40f;
    padding: 50px 20px;
    text-align: center;
}

.hero h1 {
    margin: 0;
    font-family: Star;
    letter-spacing: 4px;
    font-size: 5em;
}

.hero p {
    font-size: 1.2em;
}

.filtros {
    margin: 20px;
    text-align: center;
}

.filtros button {
    background: linear-gradient(135deg, #e7ff12, #c4b000);
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    font-family: Starjedi;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 114, 255, 0.3);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.filtros button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.filtros button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.filtros button:hover {
    color: #000000;
    box-shadow: 0 15px 20px rgba(0, 114, 255, 0.4);
    transform: translateY(-5px);
}


.contenedor-resultados {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center; 
    padding: 20px;
}

.tarjeta-resultado {
    background: linear-gradient(to top, rgba(30, 35, 38, .5),rgba(30, 35, 38, .5)),url(https://i.pinimg.com/564x/62/35/15/623515c12d126fb97e0b19949b44b6da.jpg);
    background-size: cover;
    border: 1px solid #000000; 
    border-radius: 5px;
    padding: 10px;
    font-family: Blanki;
    color: #fff;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.tarjeta-resultado h2 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.tarjeta-resultado p {
    margin: 5px 0;
}


@media (max-width: 768px) {
    .tarjeta-resultado {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .tarjeta-resultado {
        width: calc(100% - 10px);
    }
}
